<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
  <div class="span6"
    <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <%= f.inputs :name => "Personal" do %>
          <%= f.input :firstname %>
          <%= f.input :lastname %>
          <%= f.input :email %>
      <% end %>
      
      <%= f.inputs :name => "Security" do %>
          <%= f.input :password %><i>(leave blank if you don't want to change it)</i><br />
          <%= f.input :password_confirmation %>
          <%= f.input :current_password %>
      <% end %>
      
    
      <%= f.actions do %>
          <%= f.action :submit, :as => :button %>
          <%= f.action :cancel, :as => :link %>
      <% end %>
    <% end %>
  </div>
  <div class="span 6">
      <%= render_cell :applicant_sidebar, :display, :user => @current_user %>
  </div>
</div>
<div class="row">
  <h3>Cancel my account</h3>
  
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
  
  <%= link_to "Back", :back %>
</div>
