<div class="row">
  <div class="col-md-6">
       <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <%= f.inputs :name => "Personal" do %>
          <%= f.input :firstname %>
          <%= f.input :lastname %>
          <%= f.input :email %>
      <% end %>
      
      <%= f.inputs :name => "Security" do %>
          <%= f.input :password %><i>(leave blank if you don't want to change it)</i><br />
          <%= f.input :password_confirmation %>
          <%= f.input :current_password %>
      <% end %>
      <br/>
      <%= f.actions do %>
          <%= f.action :submit, :as => :button %>
      <% end %>
    <% end %>
  </div>
  <% if !current_user.admin? %>
    <div class="col-md-5">
        <%= render_cell :applicant_sidebar, :display, :user => @current_user %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-4">
      <h3>Unhappy?</h3><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
      
      <%= link_to "Back", :back %>
  </div>
</div>
