<div class="row">
	<div class="col-md-offset-2 col-md-6">
	<%= image_tag "corporate-logo.png", style: "margin-left: 85%" %>
	<h1><%= @vacancy.title %></h1>
	<hr/>
	<div class="content">
		<p><label><b>Location: </b></label> <%= @vacancy.location %></p><br />
		<p><label><b>Description: </b></label> <%= @vacancy.description %></p><br />
		<p><label><b>Duties: </b></label> <%= @vacancy.duties %></p><br />
		<p><label><b>Requirement: </b></label> <%= @vacancy.requirement %></p><br />
	</div>


<%= form_tag controller: "admin/vacancies", action: "generate_pdf", format: "pdf" do %>
<%= text_area_tag("footer",
	# Initial text
	 @footer,
	 class: "form-control",
	 rows: 10,
	 cols: 20 ) %>
	 <br/>
	 </div>
</div>
<div class="col-md-offset-8">
<%= submit_tag("Generate PDF", class: "btn btn-primary btn-lg") %>
<%= link_to "Back", :back, class: "btn btn-warning btn-lg" %>
<% end %>
</div>
