<div class="row">
	<h1><%= @vacancy.title %></h1>
	<hr/>
	<div class="content">
		<p><label><b>Location: </b></label> <%= @vacancy.location %></p><br />
		<p><label><b>Description: </b></label> <%= @vacancy.description %></p><br />
		<p><label><b>Duties: </b></label> <%= @vacancy.duties %></p><br />
		<p><label><b>Requirement: </b></label> <%= @vacancy.requirement %></p><br />
	</div>
</div>

<%= link_to "Download PDF", vacancy_pdf_path(@vacancy, :format => 'pdf') %>