<div class="row">
  <%= render "admin/sidebar" %>
  <div class="col-md-10">
    <div class="page-header">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to new_admin_advertisement_path, :class => 'btn btn-primary pull-right' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Advertisement
        <% end %>
      <% end %>
      <h1>Current advertisements</h1>
    </div>
    
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Location</th>
                <th class="text-center">Description</th>
                <th class="text-center">Requirement</th>
                <th class="text-center">Destroy Advertisement</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <%= content_tag_for(:tr, @advertisements) do |advertisement| %>
                  <td><%= advertisement.title %></td>
                  <td><%= advertisement.location %></td>
                  <td><%= advertisement.description %></td>
                  <td><%= advertisement.requirement %></td>
                  <td class="text-center inline">
                    <%= link_to "", admin_advertisement_path(advertisement), class: "icon-eye-open"%>&nbsp;
                    <%= link_to "", edit_admin_advertisement_path(advertisement), class: "icon-edit"%>&nbsp;
                    <%= link_to "", [:admin, advertisement], class: "icon-trash",
                                                             method: :delete,
                                                             data: { confirm: 'Are you sure?' } %>
                </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>