<div class="page-header">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to new_applicant_registration_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Applicant
    <% end %>
  <% end %>
  <h1>Listing Users</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>View Profile</th>
            <th>Edit Profile</th>
            <th>Destroy Profile</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%= content_tag_for(:tr, @users) do |user| %>
            <td><a href="/"><%= user.firstname %></a></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <% unless user.admin? %>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>