<div class="page-header">
  <h1><%= @advertisement.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Wage:</dt>
  <dd><%= @job_application.wage %></dd>

  <dt>Note:</dt>
  <dd><%= @job_application.note %></dd>

  <dt>Applicant:</dt>
  <dd><%= @job_application.applicant_id %></dd>

  <dt>Advertisement:</dt>
  <dd><%= @job_application.advertisement_id %></dd>

</dl>
