<div class="page-header">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to new_admin_advertisement_path, :class => 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Advertisement
    <% end %>
  <% end %>
  <h1>Current advertisements</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Description</th>
            <th>Requirement</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @advertisements) do |advertisement| %>
            <td><%= link_to advertisement.title, advertisement %></td>
            <td><%= link_to advertisement.location, advertisement %></td>
            <td><%= link_to advertisement.description, advertisement %></td>
            <td><%= link_to advertisement.requirement, advertisement %></td>
            <% if user_signed_in? && advertisement.already_taken_by_user?(current_user) %>
            <% end %>
      <% end %>
    </tbody>
  </table>
</div>
