<div class="page-header">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to edit_admin_advertisement_path(@advertisement), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1><%= @advertisement.title %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Location:</dt>
  <dd><%= @advertisement.location %></dd>

  <dt>Description:</dt>
  <dd><%= @advertisement.description %></dd>

  <dt>Requirement:</dt>
  <dd><%= @advertisement.requirement %></dd>
  
  <% if !admin_signed_in? %>
    <% if user_signed_in? && !@advertisement.already_taken_by_user?(current_user) %>
      <br/>
      <div class="col-md-offset-1">
        <%= link_to "Apply now!", new_advertisement_job_application_path(@advertisement), class: "btn btn-primary" %>
        <%= link_to "Back", :back, class: "btn btn-warning" %>
      </div>
    <% elsif !user_signed_in? %>
      <div class="col-md-offset-1">
        <%= link_to "Apply now!", guest_new_path(@advertisement), class: "btn btn-primary" %>
        <%= link_to "Back", :back, class: "btn btn-warning" %>
      </div>
    <% else %>
      <br /><hr />
      <h2>You already applied for this Advertisement</h2>
      <h4>Your Details were:</h4>
      <p>Wage offer: <%= @advertisement.display_user_details(current_user)[0] %></p>
      <p>Note:
        <blockquote>
          <p><%= @advertisement.display_user_details(current_user)[1] %></p>
        </blockquote>
      </p>
      <%= link_to "Want to change the details?",  edit_applicant_job_application_path(current_user.id, @advertisement.display_user_details(current_user)[2]), class: "btn btn-danger" %>
      <%= link_to "Back", root_path, class: "btn btn-warning" %>
    <% end %>
  <% end %>

</dl>


