  <% tab.each_with_index do |job_application, index| %>
  <div class="panel panel-default" id="user_<%= job_application.user.id%>">
    <div class="panel-heading text-center">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= "#{job_application.state}#{index}" %>">
          <%= job_application.user.fullname %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= "#{job_application.state}#{index}" %>" class="panel-collapse collapse">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Firstname:</dt>
          <dd><%= link_to job_application.user.firstname, admin_user_path(job_application.user), style: "text-decoration: underline;" %></dd>

          <dt>Lastname:</dt>
          <dd><%= job_application.user.lastname %></dd>

          <dt>Email:</dt>
          <dd><%= job_application.user.email %></dd>

          <dt>Applied at:</dt>
          <dd><%= i18n_date(job_application.created_at) %></dd>

          <dt>Offered salary:</dt>
          <dd><%= job_application.salary %></dd>

          <dt>Note by applicant:</dt>
          <dd><%= job_application.note %></dd>

          <% if !current_user.admin? %>
          <% else %>
            <% if send?(job_application) %>
              <div class="pull-right new-option">
                <%= link_to "Forward", select_moderator_path(job_application), class: "icon-tags" %>
                <%= link_to "Reject", reject_application_path(job_application), class: "icon-trash", id: "reject_#{job_application.id}", remote: true %>
              </div>
            <% elsif forwarded?(job_application) %>
              <div class="pull-right new-option">
                <h3>Reviewed by</h3>
                <p><%= reviewed_by?(job_application) %></p>
              </div>
            <% elsif reviewed?(job_application) %>
              <div class="pull-right new-option">
                <h3>Reviewed by</h3>
                <p><%= reviewed_by?(job_application) %></p>
                <br />
                <%= link_to "Employ", employ_path(job_application), class: "icon-check", id: "employ_#{job_application.id}"  %>
                <%= link_to "Reject", reject_application_path(job_application), class: "icon-trash", id: "reject_#{job_application.id}", remote: true %>
              </div>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

  <% end %>