<div class="row">
	<%= render "admin/sidebar" %>
	<div class="col-md-10">
		<div class="page-header">
			<h3>Select Moderators</h3>
		</div>
		<%= semantic_form_for(@assignment) do |f| %>
			<%= f.inputs do %>
				<%= f.input :moderator, :include_blank => false %>
				<%= f.input :job_application, as: :hidden, input_html: { value: @job_application.id } %>
			<% end %>
			<br />
			<%= f.actions do %>
				<%= f.action :submit, as: :button, label: "Forward to manager", button_html: { class: "btn btn-info" } %>
			<% end %>
		<% end %>
	</div>
</div>