<div class="container" id="new_user_container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 well well-sm">
            <legend class="text-center">Create user<span class="close-container pull-right"><b>&times;</b></span></legend>
            <%= semantic_form_for([:admin, @user], html: { class: "form-horizontal"}, remote: true) do |f| %>
            	<% if @user.errors.any? %>
	            	<div class="alert alert-danger alert-dismissable">
						<button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>

	            <div class="row">
	                <div class="col-xs-6 col-md-6">
		                <div class="input-group">
		                	<span class="input-group-addon">Firstname</span>
		                	<%= f.text_field :firstname, focus: true, placeholder: "Firstname", class: "form-control" %>
		                </div>
	                </div>
	                <div class="col-xs-6 col-md-6">
	                	<div class="input-group">
		                	<span class="input-group-addon">Lastname</span>
	                    	<%= f.text_field :lastname, required: true, placeholder: "Lastname", class: "form-control" %>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
		            <div class="col-xs-6 col-md-6">
		            	<div class="input-group">
		                	<span class="input-group-addon">Email</span>
		            		<%= f.email_field :email, required: true, placeholder: "Email Address", class: "form-control" %>
		            	</div>
		            </div>
		            <div class="col-xs-6 col-md-6">
		            	<div class="input-group">
		                	<span class="input-group-addon">Role</span>
		            		<%= f.select :type, ["Admin", "Manager", "Applicant"], {},  {class: "form-control"} %>
		            	</div>
		            </div>
		        </div>
	            <div class="row">
		            <div class="col-xs-6 col-md-6">
		            	<div class="input-group">
		                	<span class="input-group-addon">Password</span>
							<%= f.password_field :password, required: true, placeholder: "Password", class: "form-control" %>
						</div>
		            </div>
		            <div class="col-xs-6 col-md-6">
		            	<div class="input-group">
		                	<span class="input-group-addon">Password Confirmation</span>
		            		<%= f.password_field :password_confirmation, required: true, placeholder: "Password Confirmation", class: "form-control" %>
		            	</div>
		            </div>
	            </div>
	            
	            
	            <br />
	            <div class="col-md-offset-3 col-md-6">
		            <%= f.submit "Create User", class: "btn btn-lg btn-primary btn-block" %>
	            </div>
            <% end %>
        </div>
    </div>
</div>