.row
  =semantic_form_for @applicant, url: guest_create_path do |f|
    .row
      .col-md-6.well
        .page-header
          %h1 Sign up
        = f.inputs name: "Personal" do
          = f.input :firstname, input_html: {class: "form-control"}
          = f.input :lastname, input_html: {class: "form-control"}
          = f.input :email, input_html: {class: "form-control"}

        = f.inputs name: "Security" do
          = f.input :password, input_html: {class: "form-control"}
          = f.input :password_confirmation, input_html: {class: "form-control"}
        %br

      .col-md-6
        .page-header
          %h1 Application for #{ @vacancy.title }
        = f.semantic_fields_for :job_application, @applicant.job_applications.build do |h|
          = h.inputs name: "Your application details" do
            = h.input :salary, input_html: { style: "height: 32px", class: "form-control"}
            = h.input :note, input_html: { class: "autogrow form-control", rows: 6, cols: 20}

    %br

    .row.col-md-offset-4
      = f.actions do
        = f.action :submit, as: :button, label: "Sign up and create job application", button_html: { class: "btn btn-primary btn-lg"}