!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Mini Recruiting
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %meta{name: "author", content: ""}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    /= javascript_include_tag "bootstrap-ie"
    = stylesheet_link_tag     "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag  "application", "data-turbolink-track" => true
    = csrf_meta_tags

    %body
      .navbar.navbar-fixed-top.navbar-inverse
        .container
          .navbar-header.pull-left
            %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "Mini Recruiting", root_path, class: "navbar-brand"
          .collapse.navbar-collapse.pull-right
            %ul.nav.navbar-nav
              - if user_signed_in?
                %p.navbar-text #{current_user.email}
                - if current_user.admin?
                  %li{class: ('active' if admin_controller?)}= link_to "Admin area", admin_root_path
                - elsif current_user.type == "Manager"
                  %li{class: ('active' if admin_controller?)}= link_to "Admin area", admin_job_applications_path
                %li{class: ('active' if user_edit_controller?)}= link_to "Edit Profile", edit_user_registration_path
                %li= link_to "Log out", destroy_user_session_path, method: :delete
              - else
                %li{class: ('active' if login_controller?)}= link_to "Log in", new_user_session_path
                %li{class: ('active' if sign_up_controller?)}= link_to "Sign up", new_applicant_registration_path
      .container
        - flash.each do |name, msg|
          = content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
            = msg
        = yield